<%= stylesheet_pack_tag "vendor" %>
<%= javascript_include_tag "admin" %>

<div id="apps"></div>

<%= javascript_pack_tag "manifest" %>
<%= javascript_pack_tag "vendor" %>
<%= javascript_pack_tag 'admin' %>